# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
env-bfar/
venv/
ENV/

# Django stuff
db.sqlite3
media/
logs/
staticfiles/
django.log

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# System files
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db.env
logs/*.log
.env.production
